<div class="row justify-content-center">
  <div class="col-10">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1>Weather Forecast</h1>
    </div>

    <!-- Start location information -->
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        <h2 class="mb-0 fs-5">Location Information</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6 fw-bold">
            <%= @location.address %>
          </div>
          <div class="col-6">
            <%= card("Latitude", @location.latitude) %>
            <%= card("Longitude", @location.longitude) %>
          </div>
        </div>
      </div>
    </div>
    <!-- End location information -->

    <!-- Start forecast information -->
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Current Weather</h2> <!-- Clear out header margin bottom -->
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6 fw-bold">
            <div class="display-3"><%= @forecast.temperature %>째F</div>
            <div class="text-capitalize"><%= @forecast.weather_description %></div>
            <div class="text-muted"><%= @forecast.time.strftime("%m/%d/%Y %H:%M") %></div>
          </div>
          <div class="col-6">
            <div class="row g-2">
              <div class="col-6">
                <%= card("Feels Like", "#{@forecast.feels_like}째F") %>
              </div>
              <div class="col-6">
                <%= card("Humidity", "#{@forecast.humidity}%") %>
              </div>
            </div>

            <div class="row g-2 my-2">
              <div class="col-6">
                <%= card("Low", "#{@forecast.temperature_low}째F") %>
              </div>
              <div class="col-6">
                <%= card("High", "#{@forecast.temperature_high}째F") %>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <%= card("Wind Speed", "#{@forecast.wind_speed} mph") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Forecast information -->
  </div>
  <!-- End col-10 -->
</div>
<!-- End flex box obvi. -->
